@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section id="sectionLogin" class="container ">
    <div class="row rowLogin d-flex justify-content-center align-items-center">

        <div class="col-md-6">
            <h2 class="text-center pb-5  titleLogin">
                Mot de passe oublié

            </h2>

            <form method="post" style="margin: 123px 0px;">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="text-center">
                        <button type="submit" class="btn btn-outline-dark btnRadiusBorderOn">Envoyer</button>
                    </p>
                </div>

            </form>
        </div>
     </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
