@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez vérifier votre courrier électronique pour réinitialiser votre mot de passe.
</p>

