@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<section  class="sectionCheckMail ">
    <div class="checkMail">
        <p>
            Veuillez vérifier votre courrier e-mail.
        </p>

        </div>
</section>