
@{
    ViewData["Title"] = "Index";
}


<section id="sectionAdmin"  >
  
    <div class="containerTitleAdmin ">
        <div class="ItemIndex ">
            <a asp-controller="Category" asp-action="Index" class="linkIndexAdmin">Gestion des categories</a>
        </div>
        <div class="ItemIndex">
            <a asp-controller="Product" asp-action="Index" class="linkIndexAdmin">Gestion des articles</a>
        </div>

        <div class="ItemIndex">
            <a asp-controller="Slider" asp-action="Index" class="linkIndexAdmin">Gestion de carousel</a>
        </div>
    </div>
       











</section>

